/* -----HEADER-MENU------------------------------------------------------------------------- */

.header-menu {
  height: 100px;
  background-color: var(--Lines-light);
  border-bottom: 2px solid var(--Lines-light);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

@media (max-width: 485px) {
  .header-menu {
    flex-direction: column;
    justify-content: center;
  }
}

.menu-item {
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-items {
  color: var(--Red);
  padding: 0 10px;
  white-space: nowrap;
}

.menu-item:not(:last-child) {
  border-right: 2px solid var(--Main-purple);
}

@media (max-width: 485px) {
  .menu-item:not(:last-child) {
    border-right: none;
  }
}

.menu-item:hover {
  color: var(--Medium-grey);
}

.global-wrapper.dark .header-menu {
  background-color: var(--Dark-grey);
  border-bottom: 2px solid var(--Lines-dark);
}

.global-wrapper.dark .menu-item {
  color: var(--White);
}
