.board-empty-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.empty-board-text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: var(--Medium-grey);
  margin-bottom: 32px;
}
