.product-wrapper {
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
  border-radius: 8px;
  background-color: var(--White);
  margin-bottom: 20px;
  padding: 23px 16px;
  width: 100%;
  width: 280px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.task-title:hover {
  color: var(--Main-purple);
}

.task-title {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 15px;
  cursor: pointer;
}
.task-body {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  color: var(--Medium-grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.task_img {
  position: relative;
  width: 100%;
  height: 100%;
}

.task_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.global-wrapper.dark .product-wrapper {
  background-color: var(--Dark-grey);
}

.global-wrapper.dark .task-title {
  color: var(--White);
}

.completed-subtasks {
  cursor: default;
}
.total-subtasks {
}

.inner-task-description {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--Medium-grey);
  margin-bottom: 10px;
}

.in-modal-title {
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--Dark-grey);
  margin-bottom: 10px;
}

.modal {
  width: 350px;
  height: auto;
}

.product-wrapper.modal .task_img {
  height: 200px;
}

.global-wrapper.dark .product-wrapper {
  background-color: var(--Dark-grey);
}

.global-wrapper.dark .task-title {
  color: var(--White);
}
