.coupon-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--Light-grey);
  height: 100%;
  width: 250px;
}

.coupon-img {
  position: relative;
  width: auto;
  height: 90px;
}

.coupon-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.global-wrapper.dark .coupon-body {
  background-color: var(--Dark-grey);
}

.coupon-name {
  text-align: center;
}

.coupon-name-number {
  text-align: center;
}

.general-btn {
}
.add {
}

.global-wrapper.dark .coupon-name {
  color: var(--White);
}

.global-wrapper.dark .coupon-name {
  color: var(--White);
}

.global-wrapper.dark .coupon-name-number {
  color: var(--Medium-grey);
}
