/* --------BOARD-ITEM---------------------------------------------------------------------- */
.board-item {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-right: 25px;
  color: var(--Medium-grey);
  padding-left: 32px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: background-color 0.2s;
}

.global-wrapper.dark .board-item:hover {
  background-color: var(--White);
}

.global-wrapper.dark .board-item:hover.active {
  background-color: var(--Main-purple);
}

.board-item:hover {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: rgba(149, 142, 250, 0.09);
}

.board-item:hover .board-item-name {
  color: var(--Main-purple);
}

.board-item.active {
  background-color: var(--Main-purple);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: var(--White);
}

.board-item-name {
  margin-left: 15px;
  line-height: 50px;
}

.board-item.add .board-item-name {
  color: var(--Main-purple);
}

.board-item-icon {
  position: relative;
  height: 50px;
  width: 50px;
}

.board-item-icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.board-item:hover.active .board-item-name {
  color: var(--White);
  box-shadow: none;
}

.board-item:hover.active {
  box-shadow: none;
}

.board-item.hide-sidebar {
  margin-top: 10px;
  margin-bottom: 50px;
}

.board-item.hide-sidebar .board-item-icon {
  background: url("./../../img/hide_icon.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

.board-item:hover.hide-sidebar .board-item-icon {
  background: url("./../../img/hide_icon_hover.svg") center no-repeat;
  width: 16px;
  height: 16px;
}

@media (max-width: 530px) {
  .board-item.hide-sidebar {
    margin-bottom: 0;
  }
}

@media (max-width: 530px) {
  .board-item {
    height: 40px;
    /*     padding-left: 32px; */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
  }
}

@media (max-width: 530px) {
  .board-item.active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media (max-width: 530px) {
  .board-item:hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
