.shopping-card-wrapper {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  flex-grow: 1;
  overflow: auto;
}
.customer-data-wrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.add-task-block-wrapper {
}
.inner-modal-title {
}
.input-text {
}
.products-data-wrapper {
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  overflow: auto;
}
.product-wrapper {
}
.card {
}
.task_img {
}
.task-title {
}

.global-wrapper.dark .product-wrapper {
  background-color: var(--Dark-grey);
}

.global-wrapper.dark .task-title {
  color: var(--White);
}

.global-wrapper.dark {
  background-color: var(--Very-dark-grey);
}

.global-wrapper.dark .input-text {
  background-color: var(--Dark-grey);
  border: 1px solid var(--Lines-dark);
  color: var(--White);
}

.global-wrapper.dark .input-text::placeholder {
  color: var(--Light-grey);
}

.global-wrapper.dark .input-text.empty {
  border: 1px solid var(--Red);
}

.task-body {
}
.completed-subtasks {
}
.general-btn {
}
.add {
}

.total-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: var(--Light-grey);
  align-items: center;
  justify-content: space-evenly;
}

.global-wrapper.dark .total-wrapper {
  background-color: var(--Dark-grey);
}

.submit-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.total-text {
  margin-right: 5px;
}
.total-price {
  margin-right: 20px;
}

.product-wrapper.card .completed-subtasks.number {
  margin: 0 10px;
}

.coupon-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coupon-input-wrapper button {
  margin-left: 10px;
}

.plus-minus-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plus-minus-btn button {
  height: 28px;
  width: 28px;
}

@media (max-width: 930px) {
  .card-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (max-width: 930px) {
  .customer-data-wrapper {
    width: 70%;
  }
}

@media (max-width: 930px) {
  .products-data-wrapper {
    width: auto;
    justify-content: center;
  }
}

@media (max-width: 560px) {
  .total-wrapper {
    flex-direction: column;
  }
}

.error_coupon {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 10px;
  background-color: var(--Red);
  margin: 0 10px;
  color: var(--White);
  text-align: center;
  border-radius: 10px;
  padding: 0 10px;
}

.success_coupon {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 10px;
  background-color: green;
  margin: 0 10px;
  color: var(--White);
  text-align: center;
  border-radius: 10px;
  padding: 0 10px;
}
