.add-task-block-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}

.inner-modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--Medium-grey);
  margin-bottom: 10px;
}

.global-wrapper.dark .inner-modal-title {
  color: var(--White);
}

.input-text {
  height: 40px;
  border: 1px solid var(--Light-grey);
  border-radius: 4px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  padding-left: 15px;
  display: flex;
  position: relative;
}

.global-wrapper.dark .input-text {
  background-color: var(--Dark-grey);
  border: 1px solid var(--Lines-dark);
}

.global-wrapper.dark .input-text.empty {
  border: 1px solid var(--Red);
}

.input-text:focus,
.input-text:hover {
  outline: 1px solid var(--Main-purple);
  cursor: pointer;
}

.input-text::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  mix-blend-mode: normal;
  opacity: 0.25;
  color: var(--Black);
}

.global-wrapper.dark .input-text::placeholder {
  color: var(--Medium-grey);
}

.input-text.empty {
  border: 1px solid var(--Red);
}

.input-text:hover.empty,
.input-text:focus.empty {
  outline: 1px solid var(--Red);
}
