/* --------BUTTONS---------------------------------------------------------------------- */
.general-btn {
  height: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.general-btn.add {
  color: var(--White);
  background-color: var(--Main-purple);
}

.general-btn.add:hover {
  background-color: var(--Main-purple-hover);
}

.general-btn.add.disabled {
  mix-blend-mode: normal;
  opacity: 0.25;
  cursor: auto;
}

.general-btn.add.disabled:hover {
  background-color: var(--Main-purple);
  mix-blend-mode: normal;
  opacity: 0.25;
  cursor: auto;
}

@media (max-width: 470px) {
  .general-btn.add.disabled {
    display: none;
  }
}

.general-btn.add.disabled.mobile {
  height: 32px;
  width: 48px;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

@media (max-width: 470px) {
  .general-btn.add.disabled.mobile {
    display: flex;
  }
}

.general-btn.add.mobile {
  height: 32px;
  width: 48px;
  color: var(--White);
  background-color: var(--Main-purple);
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

@media (max-width: 470px) {
  .general-btn.add.mobile {
    display: flex;
  }
}

.general-btn.wide {
  width: 100%;
}

.general-btn.sub {
  mix-blend-mode: normal;
  opacity: 0.25;
}

.wrapper.dark .general-btn.sub {
  background-color: var(--White);
  opacity: 1;
  color: var(--Main-purple);
}

.general-btn.cancel {
  width: 100%;
  background: rgba(99, 95, 199, 0.1);
  color: var(--Main-purple);
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
}

.general-btn.cancel:hover {
  background: rgba(99, 95, 199, 0.25);
}

.wrapper.dark .general-btn.cancel {
  background-color: var(--White);
}
